.box {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.controls {
  padding: 3px;
  border-bottom: solid 1px #ccc;
  background-color: #eee;
  display: flex;
  align-items: center;
}

.btn {
  font-size: 14px;
  line-height: 24px;
  border-radius: 2px;
  padding: 0 6px;
  outline: none;
  cursor: pointer;

  &:hover {
    border-color: #ccc;
    background: -webkit-linear-gradient(bottom, #ccc 0%, #f2f2f2 99%);
  }

  &:active {
    border-color: #bbb;
    background: -webkit-linear-gradient(bottom, #e2e2e2 0%, #bbb 99%);
  }

  &:disabled {
    cursor: not-allowed;
  }

  // &:disabled:hover {
  //   border: solid 1px transparent;
  //   background: transparent;
  // }
}

.urlInput {
  flex: 1 1 auto;
}

.browser {
  flex: 1 1 auto;
  overflow: hidden;
  background-color: white;
}

.webview {
  position: absolute;
  width: 100%;
  height: 100%;
}
